<input type="checkbox" id="checkmark">
<nav id="sidebar" class="d-flex flex-column">
  <div class="d-flex align-items-center sidebar-header">
    <label for="checkmark" class="checkmark-label nav-line-padding">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </label>
    <span class="nav-line-padding header-size title-text">
      Angular Modules
    </span>
  </div>

  <div class="d-flex align-items-center nav-item-padding">
    <div class="d-flex flex-shrink-0 profile-img">
      <figure>
        <img src="../../../assets/Images/sidebar-icon.jpg" alt="MR.Robot">
      </figure>
    </div>

    <div class="d-flex flex-column flex-shrink-0 nav-item-padding">
      <span class="nav-link-text">Mr. ROBOT</span>
      <span class="user-email nav-link-text">mr.robot@1rivet.com</span>
    </div>

  </div>


  <ul class="list-unstyled flex-grow-1 components overflow-auto overflow-hidden-x max-sidebar-height">
    <section class="border-bottom section-padding">

      <li class="nav-item">
        <a routerLink="/pipes" class="nav-link" routerLinkActive="active">
          <span class="icon-profile nav-item-padding icon-size"></span>
          <span class="nav-link-text">Directives-Pipes</span>
        </a>

      </li>

      <li class="nav-item">
        <a routerLink="/Parent-child" class="nav-link" routerLinkActive="active">
          <span class="icon-ic_fluent_branch_compare_regular_icon nav-item-padding icon-size"></span>
          <span class="nav-link-text">Parent-child Relation</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="form" class="nav-link" routerLinkActive="active">
          <span class="icon-calendar nav-item-padding icon-size "></span>
          <span class="nav-link-text">Reactive Forms</span>
        </a>
      </li>
    </section>


    <section class="border-bottom section-padding">
      <li class="nav-item">
        <a routerLink="/Profile" class="nav-link" routerLinkActive="active">
          <span class="icon-user-tie nav-item-padding icon-size"></span>
          <span class="nav-link-text">Profiles</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/User" class="nav-link" routerLinkActive="active">
          <span class="icon-insert_chart nav-item-padding icon-size"></span>
          <span class="nav-link-text">Assessment-1</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/artist" class="nav-link" routerLinkActive="active">
          <span class="icon-insert_chart nav-item-padding icon-size"></span>
          <span class="nav-link-text">Artists</span>
        </a>
      </li>
    </section>
  </ul>


  <footer class="item-size nav-item-padding">
    <a routerLink="#" class="nav-link" routerLinkActive="active">
      <span class="icon-exit nav-item-padding icon-size"></span>
      <span class="nav-link-text">LOGOUT</span>
    </a>
  </footer>
</nav>