<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Angular Modules</h3>
    </div>


    <ul class="list-unstyled components">

      <li>
        <!--<div class="icon-profile"></div>-->
          <a routerLink="/pipes" routerLinkActive="active">
            Directives and Pipes Task
          </a>
        
      </li>

      <li>
        <a routerLink="/Parent-child" routerLinkActive="active">
          Parent-child relationship
        </a>
      </li>
      <li>
        <a routerLink="form" routerLinkActive="active">
          Reactive Forms
        </a>
      </li>
      <!--<li>
        <a routerLink="/Order" routerLinkActive="active">
          Orders
        </a>
      </li>-->
      <li>
        <a routerLink="/Profile" routerLinkActive="active">
          Profiles
        </a>
      </li>

      <li>
        <a routerLink="/User" routerLinkActive="active">
          Assessment-1
        </a>
      </li>

      <li>
        <a routerLink="#" routerLinkActive="active">
          LOGOUT
        </a>
      </li>
    </ul>

  </nav>
</div>