p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


.icon-size {
    font-size: 1.5rem;
}
.header-size {
    font-size: 1.25rem;
}

.profile-img{
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 55px;
}

.nav-item-padding {
    padding: 0.75rem;
}

.nav-line-padding {
    padding: 0.25rem 1.25rem;
}

.user-email {
    color:#bebdc3;
    font-size: 0.75rem
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

#sidebar {
    height: 100%;
}

.border-bottom{
    border-bottom: 1px solid #dee2e6;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

    .profile-img{
     width: 45px;
     height: 45px;
    }
 
    .nav-line-padding {
     padding: 0.25rem 1rem;
    }
 
 }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 

   .profile-img{
    width: 38px;
    height: 38px;
   }

   .nav-line-padding {
    padding: 0.25rem 1rem;
    }

    .nav-item-padding {
        padding: 0.7rem;
    }

    .icon-size {
    font-size: 1.25rem;
    }

    .header-size {
        font-size: 1rem;
    }

    .user-email {
        font-size: 0.6rem
    }
}