<div class="wrapper">
  <input type="checkbox" id="checkmark">
  <nav id="sidebar">
    <div class="d-flex align-items-center sidebar-header">
      <label for="checkmark" class="checkmark-label">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </label>
      <span><h3>Angular Modules</h3></span>
    </div>


    <ul class="list-unstyled components item-size">

      <li>
        <a routerLink="/pipes" routerLinkActive="active">
          <span class="icon-profile"></span>
          Directives and Pipes Task
        </a>

      </li>

      <li>
        <a routerLink="/Parent-child" routerLinkActive="active">
          <span class="icon-ic_fluent_branch_compare_regular_icon"></span>
          Parent-child relationship
        </a>
      </li>
      <li>
        <a routerLink="form" routerLinkActive="active">
          <span class="icon-calendar"></span>
          Reactive Forms
        </a>
      </li>
      <li>
        <a routerLink="/Profile" routerLinkActive="active">
          <span class="icon-user-tie"></span>
          Profiles
        </a>
      </li>

      <li>
        <a routerLink="/User" routerLinkActive="active">
          <span class="icon-insert_chart"></span>
          Assessment-1
        </a>
      </li>
    </ul>

    <footer class="item-size">
      <a routerLink="#" routerLinkActive="active">
        <span class="icon-exit"></span>
        LOGOUT
      </a>
    </footer>

  </nav>
</div>