<div class="d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <div FileDragDrop class="d-flex flex-column align-items-center justify-content-center dropzone"
            (readFile)="readFile($event)">
            <input type="file" name="" id="file"  class="text-secondary p-2" (change)="readFile($event.target)">
            <p *ngIf="file" class="text-primary p-2">{{file.name}} File is Ready to Upload</p>
            <button type="button" (click)="uploadFile()" class="btn btn-success">Upload</button>
            <!-- <span>{{ file.name }}</span><span class="text-danger p-2" (click)="removeFile(file.name)">remove</span> -->
        </div>
    </div>

    <div class="d-flex justify-content-center section-padding">
        <form [formGroup]="dateForm">
            <label for="fromDate">From:</label>
            <input type="date" id="fromDate" formControlName="fromDate" (change)="StartDate($event.target)" max="{{endDate}}">
    
            <label class="ms-4" for="toDate">To:</label>
            <input type="date" id="toDate" formArrayName="toDate" (change)="EndDate($event.target)" min="{{startDate}}">
        </form>
    </div>
</div>


<!-- <div class="dropzone d-flex align-items-center justify-content-center" FileDragDrop
        (filesChangeEmitter)="onFileChange($event)">
        <div class="text-wrapper">
            <div class="centered">
                <input type="file" name="file" id="file" class="d-none" (change)="onFileChange($event)" multiple />
                <label for="file" class="text-primary">
                    <button class="mx-2 p-2"> Select File </button>
                    Drag and Drop File here!</label>
            </div>
            <div class="row fileItem" *ngFor="let file of files; let ind = index">
                <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(ind)">
                    <i class="fa-6x fileItemIcon"></i>
                </div>
                <div class="col-sm-12 fileItemText">
                    <span>{{ file.name }}</span><span class="text-danger p-2" (click)="removeFiles(file.name)">remove</span>
                </div>
            </div>
        </div>
    </div> -->