.dropzone{
    border:2px dashed #fa2929;
    height: 300px;
    width: 75%;
    background-color: #d1d1d1;
    border-radius: 16px;
}

.mx-2{
    margin: 0 0.5rem;
}

.m-2{
    margin: 0.5rem;
}

.p-2{
    padding: 0.5rem;
}

