<div class="input-group w-25">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>

    <button type="button" class="btn btn-success w-1">Add</button>
</div>

   
<table class="w-100">
    <tr>
      <td>Name</td>
      <td>E-mail Id</td>
      <td>Phone No</td>
      <td>Gender</td>
      <td>Date of Employment</td>
      <td>Department</td>
    </tr>
</table>