.padding {
    padding: 2rem 1rem;
}

.margin {
    margin: 1rem;
}

.margin1 {
    margin: 0 1rem;
}

.text-align-center {
    text-align: center;
}

.border-radius {
    border-radius: 8px;
}

.margin-icon {
    margin: 0 7px;
}

.th-color {
    color: #b5b7bd;
}

.th-font-weight {
    font-weight: normal;
}

.text-color {
    color: #808080;
}

