.padding {
    padding: 2rem 1rem;
}

.margin {
    margin: 1rem;
}

.text-align-center {
    text-align: center;
}

.border-radius {
    border-radius: 8px;
}

.space-between {
    justify-content: space-between;
}

