<p appCustomDir>directive-pipes works!</p>
<div class="ListView">
    <app-posts-table></app-posts-table>
    
    <h2>Today's date :- {{presentDate | date:'dd/MM/yyyy hh:mm:ss' }}</h2>

    <h2>Currency pipe for India :- {{500 | currency:"INR"}}</h2>
    <h2>Currency pipe for US :- {{50 | currency:"USD"}}</h2>
    <h2>Currency pipe for UK :- {{720 | currency:"GBP"}}</h2>
    <h2>Currency pipe for Europe :- {{10 | currency:"EUR"}}</h2>
    <h2>Currency pipe for Kuwait :- {{5 | currency:"KWD"}}</h2>
    <h2>Currency pipe for Canada :- {{4000 | currency:"CAD"}}</h2>
    <h2>Currency pipe for China :- {{99 | currency:"CNY"}}</h2>
    <h2>Currency pipe for China (2) :- {{682 | currency:"RMB"}}</h2>
    <h2>Currency pipe for Philipines :- {{1270 | currency:"PHP"}}</h2>
    <h2>Currency pipe for South Korean :- {{750 | currency:"KRW"}}</h2>
    <h2>Currency pipe for Japan :- {{25000 | currency:"JPY"}}</h2>
</div>
