<h2 class="th-font-weight margin1">Profile</h2>

<div class="d-flex justify-content-between padding">
  <input type="search" class="form-control" placeholder="Search For a Profile">

  <button type="button" class="btn btn-primary">+ Add Profile</button>

  <!-- routerLink="/Profile/add" -->
</div>

<div class="margin d-flex overflow-auto max-table-height">
  <table class="table-border w-100 ">

    <thead>
      <tr class="text-align-center th-color th-font-size">
        <th class="th-font-weight" scope="col"> </th>
        <th class="th-font-weight" scope="col">#</th>
        <th class="th-font-weight" scope="col">Name</th>
        <th class="th-font-weight" scope="col">Email-id</th>
        <th class="th-font-weight" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of DetailsList; let i=index; trackBy:DetailsTrack" class="text-align-center">
        <td class="text-color td-font-size">
          <input type="checkbox">
        </td>
        <td class="text-color td-font-size" scope="row">{{i+1}}.</td>
        <td class="text-color td-font-size">{{profile.firstName + ' ' + profile.lastName}}</td>
        <td class="text-color td-font-size">{{profile.email}}</td>
        <td>
          <span class="icon-pencil2 margin-icon" (click)="onEdit(profile)"></span>
          <!-- <span class="icon-trash-can margin-icon" (click)="displayDeletePopup(profile.id)"></span> -->
        </td>
      </tr>
    </tbody>

  </table>
</div>