<h2 class="th-font-weight margin1">Profile</h2>

<div class="d-flex justify-content-between padding">
  <input type="search" class="form-control" placeholder="Search For a Profile">

  <button type="button" class="btn btn-primary">+ Add Profile</button>

  <!-- routerLink="/Profile/add" -->
</div>

<div class="margin d-flex overflow-auto max-table-height">
  <table class="table-border w-100 ">

    <thead>
      <tr class="text-align-center th-color th-font-size">
        <th class="th-font-weight" scope="col"> </th>
        <th class="th-font-weight" scope="col">#</th>
        <th class="th-font-weight" scope="col">Name</th>
        <th class="th-font-weight" scope="col">Email-id</th>
        <th class="th-font-weight" scope="col">Date of Employment</th>
        <th class="th-font-weight" scope="col">Department</th>
        <th class="th-font-weight" scope="col">Phone No.</th>
        <th class="th-font-weight" scope="col">Gender</th>
        <th class="th-font-weight" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of profileList  let i=index; trackBy:profileTrack"
        class="text-align-center">
        <td class="text-color td-font-size">
          <input type="checkbox">
        </td>
        <td class="text-color td-font-size" scope="row">{{i+1}}.</td>
        <td class="text-color td-font-size">{{profile.firstName + ' ' + profile.lastName}}</td>
        <td class="text-color td-font-size">{{profile.email}}</td>
        <td class="text-color td-font-size">{{profile.employment}}</td>
        <td class="text-color td-font-size">{{profile.department}}</td>
        <td class="text-color td-font-size">{{profile.phone}}</td>
        <td class="text-color td-font-size">{{profile.gender}}</td>
        <td>
          <span class="icon-pencil2 margin-icon"></span>    
           <!-- (click)="editProfile(profile)" -->
          <span class="icon-trash-can margin-icon" (click)="onDelete(profile.id)"></span>
        </td>
      </tr>
    </tbody>

  </table>
</div>
