<h2 class="th-font-weight margin1">Profile</h2>

<div class="d-flex justify-content-between padding">
  <input type="search" class="form-control" placeholder="Search For a Profile">

  <div>
    <button type="button" class="btn btn-primary" routerLink="../add">+ Add Profile</button>
    <button type="button" class="btn btn-success" (click)="onfilter()"><i class="icon-filter"></i></button>
  </div>


  <!-- routerLink="/Profile/add" -->
</div>

<div class="margin d-flex overflow-auto max-table-height">
  <table class="table-border w-100">

    <thead>
      <tr class="th-color th-font-size">
        <th class="th-font-weight" scope="col">#</th>
        <th class="th-font-weight" scope="col" (click)="sort('firstName')">First Name</th>
        <th class="th-font-weight" scope="col" (click)="sort('lastName')">Last Name</th>
        <th class="th-font-weight" scope="col" (click)="sort('email')">Email-id</th>
        <th class="th-font-weight" scope="col" (click)="sort('employment')">Date of Employment</th>
        <th class="th-font-weight" scope="col" (click)="sort('department')">Department</th>
        <th class="th-font-weight" scope="col" (click)="sort('phone')">Phone No.</th>
        <th class="th-font-weight" scope="col" (click)="sort('gender')">Gender</th>
        <th class="th-font-weight" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of profileList let i=index; trackBy:profileTrack" class="text-center">
        <td class="text-color td-font-size" scope="row">{{i+1}}.</td>
        <td class="text-color td-font-size">{{profile.firstName}}</td>
        <td class="text-color td-font-size">{{profile.lastName}}</td>
        <td class="text-color td-font-size">{{profile.email}}</td>
        <td class="text-color td-font-size">{{profile.employment}}</td>
        <td class="text-color td-font-size">{{profile.department }}</td>
        <!-- | dept: depts -->
        <td class="text-color td-font-size">{{profile.phone}}</td>
        <td class="text-color td-font-size">{{profile.gender}}</td>
        <td>
          <span class="icon-pencil2 margin-icon" (click)="onEdit(profile.id)"></span>

          <span class="icon-trash-can margin-icon" (click)="onDelete(profile.id)"></span>
        </td>
      </tr>
    </tbody>

  </table>
</div>