
<div class="margin d-flex overflow-auto max-table-height">
    <table class="table-border w-100 ">
  
      <thead>
        <tr class="text-align-center th-color th-font-size">
          <th class="th-font-weight" scope="col">  </th> 
          <th class="th-font-weight" scope="col">Id</th> 
          <th class="th-font-weight" scope="col">Name</th>
          <th class="th-font-weight" scope="col">Size</th>
          <th class="th-font-weight" scope="col">Type</th>
          <th class="th-font-weight" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fileList" class="text-align-center">
          <td class="text-color td-font-size">
            <input type="checkbox">
          </td>
          <td class="text-color td-font-size">{{data.id}}</td>
          <td class="text-color td-font-size">{{data.name}}</td>
          <td class="text-color td-font-size">{{data.size}} KB</td>
          <td class="text-color td-font-size">{{data.type}}</td>
          <td>
            <button class="btn btn-success" (click)="viewFile(data.type,data.content)">View File</button>
            <button class="btn btn-danger" (click)="deleteFile(data.id)">Delete File</button>
          </td>
        </tr>
      </tbody>
  
    </table>
  </div>
