
<div class="margin d-flex overflow-auto max-table-height">
    <table class="table-border w-100 ">
  
      <thead>
        <tr class="text-align-center th-color th-font-size">
          <th class="th-font-weight" scope="col">  </th> 
          <th class="th-font-weight" scope="col">Name</th>
          <th class="th-font-weight" scope="col">Size</th>
          <th class="th-font-weight" scope="col">Type</th>
          <th class="th-font-weight" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fileList" class="text-align-center">
          <td class="text-color td-font-size">
            <input type="checkbox">
          </td>
          <td class="text-color td-font-size">{{data.name}}.</td>
          <td class="text-color td-font-size">{{data.size}}</td>
          <td class="text-color td-font-size">{{data.type}}</td>
          <!-- <td>
            <span class="icon icon-pencil2" (click)="onEdit(profile)"></span>
            <span class="icon icon-trash-can" (click)="onDelete(i)"></span>
          </td> -->
        </tr>
      </tbody>
  
    </table>
  </div>
