<form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="saveUser()"
    class="d-flex f-col justify-content-center align-items-center">

    <!-- Data Fields of forms-->
    <h1> Add User </h1>
    <div class="mb-3 d-flex f-col w-25">
        <label for="name" class="form-label">Name: <span class="ast">*</span></label>
        <div>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name:">
            <div *ngIf="userForm.controls['name']?.touched && userForm.controls['name'].errors?.['required']"
                class="form-text text-danger">This field is required.</div>
        </div>
    </div>

    <div class="mb-3 d-flex f-col f-col w-25">
        <label for="Email" class="form-label">Email Id: <span class="ast">*</span></label>
        <div>
            <input type="text" formControlName="Email" class="form-control" id="Email"
                placeholder="someone@something.com">
            <div *ngIf="userForm.controls['Email']?.touched && userForm.controls['Email'].errors?.['email']"
                class="form-text text-danger">Invalid format.</div>
        </div>
    </div>

    <div class="mb-3 d-flex f-col w-25">
        <label for="mobile" class="form-label ">mobile No: <span class="ast">*</span></label>
        <div>
            <input type="text" formControlName="mobile" class="form-control" id="mobile" placeholder="XXX-XXX-XXXX">
            <div *ngIf="userForm.controls['mobile']?.touched && userForm.controls['mobile'].errors?.['required']"
                class="form-text  text-danger">This field is required.</div>
            <div *ngIf="userForm.controls['mobile']?.touched && userForm.controls['mobile'].errors?.['pattern']"
                class="form-text  text-danger">mobile no. should be 10 digits.</div>

        </div>
    </div>

    <div class="mb-3 d-flex f-col w-25">
        <label for="city" class="form-label ">city:</label>
        <div>
            <input type="text" formControlName="city" class="form-control" id="city" placeholder="Enter City">
            <div *ngIf="userForm.controls['city']?.touched && userForm.controls['city'].errors?.['required']"
                class="form-text text-danger">This field is required.</div>
        </div>
    </div>

    <div class="mb-3 d-flex f-col">
        <div class="d-flex width-txtbox justify-content-between">
        <label for="gender" class="form-label">Gender :</label>
            <div>
                <input formControlName="gender" value="male" class="form-check-input" type="radio" id="1">
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>
            <div>
                <input formControlName="gender" value="female" class="form-check-input" type="radio" id="2">
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
            <div>
                <input formControlName="gender" value="other" class="form-check-input" type="radio" id="3">
                <label class="form-check-label" for="other">
                    Other
                </label>
            </div>
        </div>
    </div>

    <div class="mb-3 d-flex space-between w-25">
        
        <div>
            <label for="department" class="form-label">Department:</label>
            <select class="form-select-1" formControlName="department">
                <!--<option [value]="0">Select Department</option>-->
                <option *ngFor="let dept of this.userdepartment" [value]="dept.id"> {{dept.name}}
                </option>
            </select>
        </div>

        
        <div>
            <label for="employment" class="form-label">Hire Date:</label>
            <input type="date" formControlName="employment" class="form-control-1" id="employment"
                placeholder="DD-MM-YYYY">
        </div>
    </div>

    <div class="mb-3 d-flex w-25">
        <input type="checkbox">
        <label class="form-check-label">
            Permanent Employee
        </label>
    </div>

    <div class="d-flex">
        <button [disabled]="userForm.invalid" type="submit" class="btn btn-outline-primary">Add</button>
        <button type="button" class="btn btn-outline-danger" (click)="clearForm()">Clear</button>
    </div>
</form>