<h1 class="text-align-center">Resume Builder</h1>
<form  [formGroup]="resume" (ngSubmit)="saveDetails()">

    touched:{{resume.controls.name.touched | json}}<br>
    untouched:{{resume.controls.name.untouched | json}}<br>
    invalid:{{resume.controls.name.invalid | json}}<br>
    dirty:{{resume.controls.name.dirty | json}}<br>
    pristine:{{resume.controls.name.pristine | json}}<br>
    
    <div class="text-align-center pad1r">
        Name: <input type="text" formControlName="Name" placeholder="Enter Name">
        <small class="error" *ngIf="resume.controls.name.touched && resume.controls.name.errors?.required">
            This field is required
        </small>
    </div>

    <div class="text-align-center pad1r">
        Skills: <input type="text" formControlName="Skills" placeholder="Enter new skills">
    </div>

    <button type="button" class="btn" (click)="addSkills()" style="margin-right: 5px;">Add Skills</button>

    <div class="text-align-center pad1r">
        Experience: <input formControlName="Experience" placeholder="Experience Details">
    </div>

    <div class="text-align-center pad1r">
        Education: <input formControlName="Education" placeholder="Education History">
    </div>

    <div class="text-align-center pad1r">
        Email: <input formControlName="Email" placeholder="Enter E-mail id">
    </div>

    <div class="text-align-center pad1r">
        Mobile: <input formControlName="Mobile" placeholder="Enter Phone Number">
    </div>

    <div class="text-align-center pad1r">
        <button class="border">Submit</button>
    </div>    
        	   

    
</form>
