h1 {
    color:red;
}

.text-align-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.pad1r {
    padding: 1rem;
}

.border {
    border: 1px solid;
    border-radius: 2px;
}