<div class="resume-cont">
    <table>
        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 80%;">
                <h3>JONATHAN DOE</h3>
                <p>
                    <em>WEB DESIGNER,DIRECTOR</em>
                </p>
            </td>
            <td>
                <button type="button">Download PDF</button><br>
                <a href="mailto:name@yourdomain.com" style="color:red">name@yourdomain.com</a>
                <p>(313)-867-5309</p>
            </td>
        </tr>
    </table>
    <table>
        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;">
                <em>Profile</em>
            </td>
            <td style="padding: 20px 0;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae,
                inventore maxime
                adipisci
                unde accusamus nihil totam ipsum eos ad provident, cumque vitae facilis reiciendis aut excepturi
                ullam
                praesentium voluptatum?
            </td>

        </tr>

        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;">
                <em>Skills</em>
            </td>
            <td style="padding: 20px 0;">
                <table>
                    <tr>
                        <td>
                            <strong style="font-size: large;">Web Design</strong>
                        </td>
                        <td>
                            <strong style="font-size: large;">Interface Design</strong>
                        </td>
                        <td>
                            <strong style="font-size: large;">Project Direction</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quos ducimus recusandae dolorum enim qui!
                        </td>
                        <td>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quos ducimus recusandae dolorum enim qui!
                        </td>
                        <td>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quos ducimus recusandae dolorum enim qui!
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;"><em>Technical</em></td>
            <td style="padding: 20px 0;">
                <table style="width: 100%;">
                    <tr style="border-bottom: 1px solid #d8d8d8;">
                        <td style="width: 33.33%;">
                            XHTML
                        </td>
                        <td style="width: 33.33%;">
                            JQuery
                        </td>
                        <td>
                            OS X
                        </td>
                    </tr>

                    <tr style="border-bottom: 1px solid #d8d8d8;">
                        <td>
                            CSS
                        </td>
                        <td>
                            PHP
                        </td>
                        <td>
                            Windows XP/Vista
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JavaScript
                        </td>
                        <td>
                            PHP
                        </td>
                        <td>
                            Windows XP/Vista
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;"><em>Experience</em></td>
            <td style="padding: 20px 0;">
                <table>
                    <tr style="border-bottom: 1px solid #d8d8d8;">
                        <td style="width: 85%;">
                            <strong>Facebook</strong>
                            <div>Senior Interface Designer</div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum nisi dolorem.</p>
                        </td>
                        <td>
                            2005-2007
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 85%; padding-top: 20px;">
                            <strong>Apple Inc.</strong>
                            <div>Senior Interface Designer</div>
                            <p style="margin-bottom: 0;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum nisi dolorem.</p>
                        </td>
                        <td style="padding-top: 20px;">
                            2005-2007
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;">
                <em>Education</em>
            </td>
            <td style="padding: 20px 0;">
                <table>
                    <tr>
                        <strong>Indiana University</strong>
                        <td style="padding-top: 5px">
                            Dual Major-4.0 GPA
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <footer style="text-align: center; line-height: 35px;">
        Jonathan Doe - <a href="mailto:name@yourdomain.com" style="color: #ff3835;">name@yourdomain.com</a> -
        (313)-871-5309
    </footer>

