<div class="resume-cont" *ngIf="this.resumeData">
    <!--{{ this.resumeData | json }}-->
    <table>
        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 80%;">
                <h3>{{ this.resumeData.Name }}</h3>
                <p>
                    <em>WEB DESIGNER,DIRECTOR</em>
                </p>
            </td>
            <td>
                <button type="button">Download PDF</button><br>
                <a href="mailto:name@yourdomain.com" style="color:red">{{ this.resumeData.Email }}</a>
                <p>{{ this.resumeData.Mobile }}</p>
            </td>
        </tr>
    </table>
    <table>
        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;">
                <em>Profile</em>
            </td>
            <td style="padding: 20px 0;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae,
                inventore maxime
                adipisci
                unde accusamus nihil totam ipsum eos ad provident, cumque vitae facilis reiciendis aut excepturi
                ullam
                praesentium voluptatum?
            </td>

        </tr>

        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;">
                <em>Skills</em>
            </td>
            <td style="padding: 20px 0;">
                <table>
                    <tr>
                        <td>
                            <strong style="font-size: large;">Web Design</strong>
                        </td>
                        <td>
                            <strong style="font-size: large;">Interface Design</strong>
                        </td>
                        <td>
                            <strong style="font-size: large;">Project Direction</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quos ducimus recusandae
                            dolorum enim qui!
                        </td>
                        <td>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quos ducimus recusandae
                            dolorum enim qui!
                        </td>
                        <td>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quos ducimus recusandae
                            dolorum enim qui!
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="border-bottom">
            <td class="padding" style="width: 20%;">
                <em>Technical</em>
            </td>
            <td class="padding">
                <div class="d-flex flex-wrap w100">
                    <div class="skills border-bottom" *ngFor="let skills of this.resumeData.Skills">
                        {{ skills }}
                    </div>
                </div>
            </td>
        </tr>


        <tr style="border-bottom: 1px solid #d8d8d8;">
            <td style="width: 20%; padding: 20px 0;"><em>Experience</em></td>
            <td style="padding: 20px 0;">
                <table>
                    <tr style="border-bottom: 1px solid #d8d8d8;" *ngFor="let experience of this.resumeData.Experience">
                        <td style="width: 85%;">
                            <strong>{{ experience.Company }}</strong>
                            <div>{{ experience.JobRole}}</div>
                            <p>{{ experience.JobDesc}}</p>
                        </td>
                        <td>
                            {{ experience.JoinYear }}-{{ experience.LeaveYear}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="border-bottom: 1px solid #d8d8d8;" *ngFor="let education of this.resumeData.Education">
            <td style="width: 20%; padding: 20px 0;">
                <em>Education</em>
            </td>
            <td style="padding: 20px 0;">
                <table>
                    <tr>
                        <strong>{{ education.University}}</strong>
                        <div style="padding-top: 5px">
                            {{ education.Degree }}-{{ education.GPA}} GPA
                        </div>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <footer style="text-align: center; line-height: 35px;">
        {{ this.resumeData.Name }} - <a href="mailto:name@yourdomain.com" style="color: #ff3835;">{{
            this.resumeData.Email}}</a> -
        {{ this.resumeData.Mobile}}
    </footer>