<!-- Create button an search bar on top of user list-->
<div class="d-flex space-between padding">
    <button type="button" class="btn btn-primary border-radius" routerLink="/User/add">+ Create</button>

    <input type="search" class="form-control-2 border-radius w-25" placeholder="Search By Name" [(ngModel)]=searchStr>
    <input type="search" class="form-control-2 border-radius w-25" placeholder="Search By Department"
        [(ngModel)]=searchStr1>
    <input type="search" class="form-control-2 border-radius w-25" placeholder="Search By City" [(ngModel)]=searchStr2>


</div>

<div class="table-bd margin overflow-auto max-table-height">
    <table class="w-100">

        <!-- Title of list-->
        <thead>
            <tr class="text-align-center th-color th-font-size">
                <th scope="col">Sr.No.</th>
                <th scope="col">Name</th>
                <th scope="col">Email-id</th>
                <th scope="col">Mobile</th>
                <th scope="col">City</th>
                <th scope="col">Department</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <!-- ngFor used to enter data with index i-->
        <tbody>
            <tr *ngFor="let user of UserList | sort: this.searchStr; let i=index; trackBy:userTrack"
                class="text-align-center td-color td-font-size">
                <td scope="row">{{i+1}}.</td>
                <td>{{user.name}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.city}}</td>
                <td>{{user.department | dept: depts}}</td>
                <td>
                    <button class="icon-pencil2 margin-icon margin1" (click)="editUser(user)"></button>
                    <button class="icon-trash-can margin-icon margin1" (click)="deleteUser(user.id)"></button>
                    <button class="btn btn-primary margin1" (click)="detailsUser">Details</button>
                </td>
            </tr>
        </tbody>

    </table>

</div>


<!-- Start of Pagination section-->
<!-- <div class="d-flex justify-content-center p-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/User/users">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/User/users">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item"><a class="page-link" href="">Next</a></li>
        </ul>
    </nav>
</div> -->


<!-- Add Address section-->
<div class="table-bd address-margin">
    <h2 class="p-3"> Add Address: </h2>
    <div class="mb-3 d-flex flex-column p-3">
        <input type="text" formControlName="name" class="form-control w-25" id="name" placeholder="Enter Address">
        <button class="btn btn-success btn-sm margin" (click)="addAddress">Add</button>
        <button class="btn btn-danger btn-sm margin" (click)="deleteAddress">delete</button>
    </div>

</div>