.padding {
    padding: 2rem 1rem;
}

.margin {
    margin: 0 1.25rem;
}

.margin1 {
    margin: 0 0.5rem;
}

.text-align-center {
    text-align: center;
}

.border-radius {
    border-radius: 12px;
}

.space-between {
    justify-content: space-between;
}

.table-bd{
    border: 1px solid black;
    border-radius: 12px;
}

.th-color {
    background-color: white;
}

.td-color{
    background-color: #dbd6d6;
}
