.padding {
    padding: 2rem 1rem;
}

.margin {
    margin: 1rem;
}

.text-align-center {
    text-align: center;
}

.border-radius {
    border-radius: 0.5rem;
}

.space-between {
    justify-content: space-between;
}

.table-bd {
    border: 1px solid black;
}