.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-grow {
    flex-grow: 1;
}   

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.main-content{
    flex-grow:1 ;
    padding: 1rem;
    overflow: hidden;
}

.bg-colour {
    background-color: #f7f8fa;
}

.overflow {
    overflow: hidden;
}

