
<form *ngIf="resume" [formGroup]="resume" (ngSubmit)="saveDetails()"
    class="d-flex justify-content-center align-items-center">
    <div class="mb-3 d-flex w-25">
        <h1>Resume Builder</h1>
        <label for="Name" class="form-label"> Name : </label>
        <div>
            <input type="text" formControlName="Name" class="form-control" id="Name"
                placeholder="Enter Name">
            <div *ngIf="resume.controls['Name']?.touched && resume.controls['Name'].errors?.['required']"
                class="form-text text-danger">This field is required.</div>
        </div>
    </div>

    <div class="mb-3 d-flex w-25">
        <label for="Description" class="form-label">Profile :</label>
        <div>
            <input type="text" formControlName="Description" class="form-control" id="Description"
                placeholder="Profile Description">
        </div>
    </div>

    <div class="mb-3 d-flex w-25">
        <label for="Skills" class="form-label ">Tech-Skills :</label>
        <div *ngFor="let Skills of this.getSkillsArray().controls; let i = index">
            <div [formGroupName]="i" class="flex-div">
                <input type="text" formControlName="Skills" class="form-control" id="Skills" placeholder="Enter Skills">
                <button class="btn btn-outline-danger" (click)="deleteSkills(i)">
                    delete
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary btn-sm w-25" (click)="addSkills()">Add</button>    
    </div>

    <div class="mb-3 d-flex w-25">
        <label for="Experience" class="form-label ">Experiences :</label>
        <div *ngFor="let Experience of this.getExperienceArray().controls; let i = index">
            <div [formGroupName]="i" class="flex-div">
                <input type="text" formControlName="Experience" class="form-control" id="Experience" placeholder="Experience Description">
                <button class="btn btn-outline-danger" (click)="deleteExperience(i)">
                    delete
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary btn-sm w-25" (click)="addExperience()">Add</button>    
    </div>

    
    <div class="mb-3 d-flex w-25">
        <label for="Education" class="form-label ">Education :</label>
        <div *ngFor="let Education of this.getEducationArray().controls; let i = index">
            <div [formGroupName]="i" class="flex-div">
                <input type="text" formControlName="Education" class="form-control" id="Education" placeholder="Education history">
                <button class="btn btn-outline-danger" (click)="deleteEducation(i)">
                    delete
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary btn-sm w-25" (click)="addEducation()">Add</button>    
    </div>

    <div class="mb-3 d-flex w-25">
        <label for="Email" class="form-label">Email Id:</label>
        <div>
            <input type="text" formControlName="email" class="form-control" id="Email"
                placeholder="someone@something.com">
            <div *ngIf="resume.controls['Email']?.touched && resume.controls['Email'].errors?.['email']"
                class="form-text text-danger">Invalid format.</div>
        </div>
    </div>

    <div class="mb-3 d-flex w-25">
        <label for="Mobile" class="form-label ">Phone No:</label>
        <div>
            <input type="text" formControlName="Mobile" class="form-control" id="Mobile" placeholder="XXX-XXX-XXXX">
            <div *ngIf="resume.controls['Mobile']?.touched && resume.controls['Mobile'].errors?.['required']"
                class="form-text  text-danger">This field is required.</div>

        </div>
    </div>
    
    <div class="d-flex">
        <div>
            <button [disabled]="resume.invalid" type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </div>
</form>


