/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap";
@import "@angular/cdk/overlay-prebuilt.css";

$primary-color: #d37cdb;
$danger-color: #e95755;
$success-color: #20b261;
$secondary-color: #0609b4;
$border-color: #f7f8fa;
$light-color: #f1f1f1;
$gray: #797878;

$border-radius: 8px;

%border-radius {
    border-radius: 8px;
}

////////////////////////////////////////////////////////////////////////
// START: Common Styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "poppins", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.d- {
    &none {
        display: none;
    }

    &flex {
        display: flex;
    }
}

.h-100 {
    height: 100%;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.p-3 {
    padding: 1rem;
}

.w-100 {
    width: 100%;
}

.flex- {
    &column {
        flex-direction: column;
    }

    &grow- {
        &0 {
            flex-grow: 0;
        }

        &1 {
            flex-grow: 1;
        }
    }

    &shrink- {
        &0 {
            flex-shrink: 0;
        }

        &1 {
            flex-shrink: 1;
        }
    }

    &wrap {
        flex-wrap: wrap;
    }

    &nowrap {
        flex-wrap: nowrap;
    }
}

.justify- {
    &content- {
        &between {
            justify-content: space-between;
        }

        &center {
            justify-content: center;
        }

        &evenly {
            justify-content: space-evenly;
        }
    }
}

.align- {
    &content- {
        &center {
            align-content: center;
        }
    }

    &items- {
        &center {
            align-items: center;
        }
    }

    &middle {
        vertical-align: middle;
    }
}

.text- {
    &center {
        text-align: center;
    }

    &left {
        text-align: left;
    }

    &right {
        text-align: right;
    }
}

.overflow- {
    &auto {
        overflow: auto;
        &-x {
            overflow-x: auto;
        }
        &-y {
            overflow-y: auto;
        }
    }

    &hidden {
        overflow: hidden;
        &-x {
            overflow-x: hidden;
        }
        &-y {
            overflow-y: hidden;
        }
    }
}

.why-not-scroll-this {
    overflow: auto;
}

.btn-margin {
    margin: 0 0.4rem;
}

.icon {
    padding: 0 0.75rem;
    font-size: 1rem;
}
// END: Common Styles
////////////////////////////////////////////////////////////////////////

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    width: 100%;
    height: 100%;
    align-items: stretch;
    flex-shrink: 0;
}

#checkmark ~ #sidebar {
    // flex: 0 0 300px;
    width: 300px;
    transition: all 0.3s;

    #sidebar.active {
        margin-left: -200px;
    }
    #sidebar {
        min-width: 25%;
        max-width: 25%;
        background: white;
        color: #000000;
        transition: all 0.3s;
        border-right: 1px solid #dee2e6;
    }
    .sidebar-header {
        padding: 20px 7px;
        background: white;
        color: #3551b2;
        border-bottom: 1px solid #dee2e6;

        .checkmark-label {
            background-color: #fff;
            cursor: pointer;

            width: 21px;
            // height: 21px;

            .line {
                transition: all 0.4s;
                margin: 3px 1px;
                width: 18px;
                height: 3px;
                background-color: $danger-color;
                @extend %border-radius;

                &-2 {
                    transition: all 0.4s;
                    transform: scaleX(0);
                }

                &-1 {
                    transform: translateY(6px) rotate(135deg);
                }

                &-3 {
                    transform: translateY(-6px) rotate(225deg);
                }
            }
        }
    }
    .nav-link-text,
    .title-text {
        transition: all ease-in-out 0.4s;
        white-space: nowrap;
        opacity: 1;
        transform: translateX(0);
    }
}

#checkmark:checked ~ #sidebar {
    // flex: 0 0 70px;
    width: 80px;
    .sidebar-header {
        .checkmark-label {
            .line {
                &-2 {
                    transition: all 0.4s;
                    transform: scaleX(1);
                }

                &-1 {
                    transform: translateY(0px) rotate(0deg);
                }

                &-3 {
                    transform: translateY(0px) rotate(0deg);
                }
            }
        }
    }
    .nav-link-text,
    .title-text {
        transition: all ease-in-out 0.4s;
        display: none;
        opacity: 0;
        transform: translateX(100%);
    }
}

#checkmark {
    display: none;
}

#sidebar ul.components {
    padding: 16px 8px;
    border-bottom: 1px solid #dee2e6;
}

#sidebar ul p {
    color: #7babf3;
    padding: 10px;
}

#sidebar ul .nav-item .nav-link,
#sidebar footer .nav-link {
    padding: 10px;
    display: block;
}

#sidebar ul .nav-item .nav-link:hover {
    color: #2f55e4;
    background: #eaedfc;
    border-radius: 8px;
}

#sidebar ul .nav-item.active > .nav-link,
a[aria-expanded="true"] {
    color: #fff;
    background: #7babf3;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul .nav-link {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #7babf3;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs .nav-link {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.nav-link.download {
    background: #fff;
    color: #7386d5;
}

.nav-link.article,
.nav-link.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.width-txtbox {
    width: 350px;
}

.max-sidebar-height {
    max-height: 100%;
}

// END: Sidebar Styles
////////////////////////////////////////////////////////////////////////

// START: Scrollbar Styles
////////////////////////////////////////////////////////////////////////

* {
    scrollbar-width: thin;
    scrollbar-color: #979597 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #979597;
    border-radius: 15px;
    border: 6px solid #ffffff;
}

// END: Scrollbar Styles
////////////////////////////////////////////////////////////////////////
.bg-colour {
    background-color: #f7f8fa;
}

.main-content {
    padding: 1rem;
}

.address-margin {
    margin: 1.25rem;
}

table {
    border-spacing: 0;
    background-color: white;
}

table thead tr {
    border-top: 0;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table td,
table th {
    padding: 0.6rem;
    border-bottom: 1px solid #f0f1f3;
}

.max-table-height {
    max-height: 100%;
}

.table-border {
    border: 1px solid #f0f1f3;
    border-radius: 8px;
}

.btn {
    height: 40px;
    // width: 90px;
    padding: 0 1.5rem;
    font-size: 0.825rem;
    border: none;
    color: white;
    @extend %border-radius;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

    &-primary {
        background-color: $primary-color;
        &:hover {
            background-color: rgba($primary-color, 0.9);
        }
    }

    &-danger {
        background-color: $danger-color;
        &:hover {
            background-color: rgba($danger-color, 0.9);
        }
    }

    &-success {
        background-color: $success-color;

        &:hover {
            background-color: rgba($success-color, 0.9);
        }
    }
}

.bg {
    &-transparent {
        background-color: transparent;
    }

    &-aqua {
        background-color: aquamarine;
    }
}

button {
    border-width: 0px;
}


.form-control,
.form-select {
    font-family: "Poppins", sans-serif;
    font-size: 0.825rem;
    border: 1px solid $border-color;
    @extend %border-radius;
    padding: 0 0.5rem;
    height: 40px;
    outline: none;
    display: block;
    width: 350px;
}

.form-control-1,
.form-select-1 {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    border: 1px solid $border-color;
    @extend %border-radius;
    padding: 0 0.5rem;
    height: 40px;
    outline: none;
    display: block;
    width: 165px;
}

.form-control-2,
.form-select-2 {
    font-family: "Poppins", sans-serif;
    font-size: 0.825rem;
    border: 1px solid $border-color;
    @extend %border-radius;
    padding: 0 0.5rem;
    height: 40px;
    outline: none;
    display: block;
    width: 275px;
}

.form-label {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 0 0.5rem;
    height: 25px;
    outline: none;
    display: block;
}

.th-font-size,
.td-font-size {
    font-size: 16px;
}

.text-danger {
    color: $danger-color;
    font-size: 1rem;
}

.text-success {
    color: $success-color;
    font-size: 1rem;
}

.text-secondary {
    color: $secondary-color;
    font-size: 1rem;
}

.text-primary {
    color: $primary-color;
    font-size: 1.125rem;
}

.text-light {
    color: $light-color;
    font-size: 1rem;
}

.section-padding {
    padding: 1rem 0;
}

.text-align-center {
    text-align: center;
}

.card {
    padding: 0.5rem;
    @extend %border-radius;
}

////////  MEDIA QUERIES  ////////////

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .form-control,
    .form-select {
        font-size: 0.825rem;
        width: 250px;
    }

    .form-control-1,
    .form-select-1 {
        font-size: 0.75rem;
        width: 120px;
    }

    .form-control-2,
    .form-select-2 {
        font-size: 0.825rem;
        width: 8px;
    }

    .btn {
        height: 40px;
        padding: 0 0.75rem;
        font-size: 0.75rem;
    }

    .th-font-size,
    .td-font-size {
        font-size: 14px;
    }

    #checkmark ~ #sidebar {
        width: 240px;

        .nav-link-text {
            font-size: 0.875rem;
        }

        .title-text {
            font-size: 1.125rem;
        }
    }

    #checkmark:checked ~ #sidebar {
        width: 65px;

        .sidebar-header {
            padding: 20px 3px;
        }
    }

    #sidebar ul.components {
        padding: 8px 0;
    }

    #sidebar ul .nav-item .nav-link,
    #sidebar footer .nav-link {
        padding: 8px;
    }

    .section-padding {
        padding: 0;
    }

    .btn-margin {
        margin: 0 0.3rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .form-control,
    .form-select {
        font-size: 0.75rem;
        height: 33px;
        width: 200px;
    }

    .form-control-1,
    .form-select-1 {
        font-size: 0.75rem;
        height: 32px;
        width: 100px;
    }

    .form-control-2,
    .form-select-2 {
        font-size: 0.75rem;
        height: 32px;
        width: 75px;
    }

    .btn {
        height: 30px;
        padding: 0 0.75rem;
        font-size: 0.7rem;
    }

    .th-font-size,
    .td-font-size {
        font-size: 13.5px;
    }

    #checkmark ~ #sidebar {
        width: 210px;

        .nav-link-text {
            font-size: 0.825rem;
        }

        .title-text {
            font-size: 1rem;
        }
    }

    #checkmark:checked ~ #sidebar {
        width: 60px;

        .sidebar-header {
            padding: 20px 3px;
        }
    }

    #sidebar ul.components {
        padding: 8px 0;
    }

    #sidebar ul .nav-item .nav-link,
    #sidebar footer .nav-link {
        padding: 8px;
    }

    .section-padding {
        padding: 0;
    }

    .btn-margin {
        margin: 0 0.25rem;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
